* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: white;

}

body {
    background: linear-gradient(180deg, rgba(35, 136, 0, 1) 38%, rgba(255, 255, 255, 1) 99%);
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

header {
    margin: 10px 0 0 45px;
}

a {
    margin-right: 500px;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
}

.link {
    margin-right: 50px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
}

.link:hover {
    color: black;
}

.button-cart {
    width: 113px;
    height: 28px;
    background: #BDB5B5;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
}

.button-cart:hover {
    color: black;
}

.compra {
    position: absolute;
    width: 19px;
    height: 20px;
    margin-top: 4px;
    margin-left: 5px;
}

.text-box {
    display: inline-block;
    margin: 60px 0 0 45px;
}

h1 {
    font-weight: 800;
    font-size: 100px;
}

p {
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    width: 500px;
    margin: 20px 0;
}

h2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    width: 119px;
    margin-bottom: 20px;
}

.button-buy {
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    width: 148px;
    height: 39px;
    background: #FF7A00;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}

.button-buy:hover {
    opacity: .6;
}

.button-buy:active {
    opacity: .4;
}

.container-image {
    display: inline-block;
}

.circle-white {
    background-color: #ffffff;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    position: absolute;
    top: 125px;
    left: 50%;
}

.tenis {
    height: 495px;
    position: absolute;
    top: 40px;
    right: 12%;
    transition: 1s;
}

.tenis:hover {
    cursor: pointer;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

@media screen and (max-width:900px) {

    .link,
    .button-cart {
        display: none;
    }

    header {
        margin: 0;
        padding: 0;
    }

    a {
        margin: 20px 0;
        padding: 0;
        font-size: 50px;
        display: flex;
        justify-content: center;
    }

    body {
        background: green;
        width: 100%;
        height: auto;
    }

    .text-box {
        margin: 0;
        padding: 0;
        width: 100%;
        height: auto;
    }

    h1 {
        font-size: 40px;
        text-align: center;
        margin: 50px auto 0;
        width: auto;
        line-height: 60px;
    }

    p {
        width: 90%;
        text-align: center;
        margin: 20px auto;
    }

    h2 {
        text-align: center;
        width: 100%;
        margin-top: 100%;
    }

    .button-buy {
        margin: 0 auto;
        display: block;
    }

    .circle-white {
        width: 50%;
        height: auto;
        padding: 45%;
        position: absolute;
        margin: 150px 20px 0;
    }

    .tenis {
        width: 90%;
        height: auto;
        position: absolute;
        right: 50px;
        top: 35px;
    }




}